body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 'Noto Sans', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  max-width: 600px;
  padding: 16px;
  margin: 0 auto;
  background: #fefefe
}

footer {
  font-size: 12px;
  color: gray;
}

a {
  color: #ffab00;
  text-decoration: none;
}

.input {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 8px;
  row-gap: 8px;
}

h1, footer {
  text-align: center;
}

footer a {
  color: darkgray
}
